@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

/* * {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-left: 12px;

}

.min-100vh {
    min-height: 100vh;
}


.items-center {

    justify-content: center;
    align-items: center;
}

.w-100 {
    width: 100%;
}

.align-items {
    align-items: center;
}

.justify-content {
    justify-content: center;
    display: flex;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.col-12 {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 100%;
}

.col-6 {
    width: 25%;
    padding-left: 12px;
    padding-right: 12px;
}

.card {
    background-color: #FFFFFF;
    box-shadow: 0px 1px 10px 0px #0000001A;
    position: relative;
}

.p1 {
    text-align: center;
    font-family: Work Sans;
    font-weight: 500px;
    font-size: 20px;
    line-height: 124%;
    letter-spacing: 0%;
    color: #000000;
    padding-bottom: 12px;
    padding-top: 24px;
}

.p2 {
    text-align: center;
    font-family: Work Sans;
    font-weight: 400px;
    font-size: 16px;
    line-height: 151%;
    letter-spacing: 0%;
    color: #7B7B7B;
    padding-bottom: 15px;
}



.icons {
    width: 40px;
    height: 40px;
    opacity: 1;
    top: 314.5px;
    left: 469px;
    background: #FFFFFF;
    box-shadow: 0px 1px 10px 0px #0000001A;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}


.icons:hover {
    background-color: #FF5300;
}

.icons:hover svg path {
    fill: #FFFFFF;
}

.card:hover .parents-box {
    right: 0%;
    transition: all 300ms linear;
    display: flex;
    flex-direction: column;
}

.parents-box {
    position: absolute;
    top: 0%;
    right: -100%;
    padding-top: 37.5px;
    display: none;
}

@media (min-width:576px) {
    .col-sm-6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }

}

@media (min-width:768px) {
    .col-md-4 {
        width: 33.33%;
        padding-left: 12px;
        padding-right: 12px;
    }

}

@media (min-width:992px) {
    .col-lg-3 {
        width: 25%
    }

} */